accelerate==1.10.0
datasets==4.0.0
matplotlib==3.10.7
networkx==3.4.2
numpy==2.2.6
openai==1.99.9
peft==0.17.0
PyYAML==6.0.2
ray==2.49.1
scikit-learn==1.7.1
torch==2.8.0
tqdm==4.67.1
transformers==4.55.2
